<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:remove="android:sharedUserId">
    <!-- The emulator cannot use the vehicle platform signature. -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
